{% load static %}
<div style="text-align:center; max-width: 500px; margin: 2rem auto">
    <div class="mb-2">
        <h4>회원가입</h4>
    </div>
    <form class="sign_up_form" action="{% url 'accountapp:create'%}" method="post">
        {% csrf_token %}
        <input type="text" class="sign_up_form_group form-control rounded-pill mb-3" name="username" id="username"
            value="{{ form.username.value|default_if_none:'' }}" placeholder="아이디">
            <div class="username_error_div"><strong id="username_error_message"></strong></div>
        <input type="password" class="sign_up_form_group form-control rounded-pill mb-3" name="password1" id="password1"
            value="{{ form.password1.value|default_if_none:'' }}" placeholder="비밀번호">

        <input type="password" class="sign_up_form_group form-control rounded-pill mb-3" name="password2" id="password2"
            value="{{ form.password2.value|default_if_none:'' }}" placeholder="비밀번호 확인">
            <div class="password_error_div"><strong id="password_error_message"></strong></div>
        <input type="submit" class="sign_up_form_group sign_up_btn btn btn-dark rounded-pill col-6 mb-3" value="회원가입">
    </form>
    <button type="button"
        class="sign_up_form_group sign_up_modal_close btn btn-outline-dark rounded-pill mb-3">취소</button>
</div>

<style>
    .sign_up_form_group {
        width: 13rem;
        margin: 0 auto 1rem auto;
    }
    .username_error_div, .password_error_div{
        margin: 0 0 1rem 0;
        display: none;
    }
    #username_error_message, #password_error_message{
        color: red;
    }
</style>
<script src="{% static 'js/sign_up.js'%}"></script>