{% load static %}
<div style="text-align: center; max-width: 500px; margin: 2rem auto">
    <div class="mb-4">
        <h4>로그인</h4>
    </div>
    <form class="login_form" action="{% url 'accountapp:login'%}" method="post">
        {% csrf_token %}
        <input type="text" class="login_form_group form-control rounded-pill mb-3" name="username" id="username"
            value="{{form.username.value|default_if_none:''}}" placeholder="아이디">
        <input type="password" class="login_form_group form-control account_input rounded-pill mb-3" name="password"
            id="password" value="{{form.password.value|default_if_none:''}}" placeholder="비밀번호">
        <input type="submit" class="login_form_group login_btn btn btn-outline-info rounded-pill mb-3" value="로그인">
    </form>
    <button type="button" class="login_form_group login-modal-close btn btn-outline-dark rounded-pill mb-3">취소</button>
    <div class="error_div"><strong id="error_message"></strong></div>

</div>
<style>
    .login_form_group {
        width: 13rem;
        margin: 0 auto 1rem auto;
    }

    .error_div {
        display: none;
    }

    #error_message {
        color: red;
    }
</style>
<script src="{% static 'js/login.js'%}"></script>