{% extends 'base.html' %}
{% block content %}
<div class="password_change_container">
    <div>
        <h4>비밀번호 변경</h4>
    </div>
    <form action="{% url 'accountapp:update'%}" method="post">
        {% csrf_token %}
        <div>
            <div style="position: relative;">
                <label name="label_old_password" for="{{ password_change_form.old_password.id_for_label }}">
                    <i class="fas fa-lock"></i>
                    {{password_change_form.old_password.label}}
                </label>
                {{ password_change_form.old_password }}

            {% if password_change_form.old_password.errors %}
            <script type="text/javascript">
                document.getElementsByName('old_password')[0].setAttribute('class', 'form-control is-invalid');
            </script>
            {% for error in password_change_form.old_password.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>

        <div>
            <div style="position: relative;">
                <label name="label_new_password1" for="{{ password_change_form.new_password1.id_for_label }}">
                    <i class="fas fa-lock"></i>
                    {{password_change_form.new_password1.label }}
                </label>
                {{ password_change_form.new_password1 }}
            </div>
        </div>

        <div>
            <div style="position: relative;">
                <label name="label_new_password2" for="{{ password_change_form.new_password2.id_for_label }}">
                    <i class="fas fa-lock"></i>
                    {{password_change_form.new_password2.label }}
                </label>
                {{ password_change_form.new_password2 }}
            {% if password_change_form.new_password2.errors %}
            <script type="text/javascript">
                document.getElementsByName('new_password1')[0].setAttribute('class', 'form-control is-invalid');
                document.getElementsByName('new_password2')[0].setAttribute('class', 'form-control is-invalid');
            </script>
            {% for error in password_change_form.new_password2.errors %}
            <div style="white-space: nowrap;" class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
        <div style="margin: 1rem auto 2rem auto;">
            <small>
                최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
            </small>
        </div>
        <div style="text-align: center;">
            <p style="color:gray; margin-bottom: 1rem;">&nbsp;{{user.username}}계정의 비밀번호를 변경합니다.</p>
        </div>
        <div style="margin-top: 2rem;">
            <a href="{%url 'accountapp:detail' pk=user.id %}" class="btn btn-sm" id="back_btn">&nbsp;돌아가기</a>
            <button type="submit" class="btn btn-sm" id="detail_btn">&nbsp;변경하기</button>
        </div>
    </form>
</div>
{% endblock %}