{% load bootstrap4 %}
{% block content %}
<div class="rounded-pill" style="text-align:center; margin: 2rem auto; width: 100%;">
    <form action="{% url 'commentapp:create'%}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if user.is_authenticated %}
        <input class="btn btn-outline-dark rounded-pill col-2 mt-3 mb-3 add_comment_btn" type="submit" value="작성" style="float: right; margin-left: 1rem; display: none;">
        
        {%endif%}
        <input type="hidden" name="article_pk" value="{{article.pk}}">
    </form>
    <button class="btn btn-outline-dark rounded-pill col-2 mt-3 mb-3 cancel_btn" style="float: right; display: none;">취소</button>
</div>

<script>
    $(document).ready(function () {
        $('#comment_input').click(function () {
            $('.add_comment_btn').show();
            $('.cancel_btn').show()
        })
        $('.cancel_btn').click(function(){
            $('.add_comment_btn').hide();
            $('.cancel_btn').hide()
        })
    })
</script>
<style>
    textarea {
        resize: none;
    }
</style>
{% endblock %}