<div class="comment-modal">
    <div class="comment-modal-content">
        <div style="text-align: center; margin-top: 4rem;">
            <h3>댓글 작성을 취소하시겠습니까?</h3>
            <h3>지금까지 작성하신 내용이 삭제됩니다.</h3>
        </div>
        <div style="text-align: center; margin-top: 3rem;">
            <button class="btn btn-danger rounded-pill col-3 comment-delete-btn">예</button>
            <button class="btn btn-dark rounded-pill col-3 comment-modal-close">아니오</button>
        </div>
    </div>
</div>