{% load static %}
<div style="display: inline-block;">
    <form class="like_form" action="{% url 'articleapp:like' pk=article.id%}" method="POST">
        {%csrf_token%}
        {% if user_like_flag %}
        <span class="like material-icons" name="{{article.id}}" value="Like" style="color: red;">
            favorite
        </span>
        {% else %}
        <span class="like material-icons" name="{{article.id}}" value="Like">
            favorite_border
        </span>
        {% endif %}
    </form>
    <p id="count-{{article.id}}" class="article_count">{{article.like_count}}개</p>

</div>
<script src="{% static 'js/articleapp/like.js'%}"></script>
<style>
    .like {
        cursor: pointer;
    }

    .article_count {
        text-align: center;
    }
</style>