<div class="header_div">
    <div>
        <h1 class="header_logo">MyPinterest</h1>
    </div>
    <div>
        <span>Nav1</span>
        <span>Nav2</span>
        <span>Nav3</span>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login'%}?next={{request.path}}"><span>로그인</span></a>
        <a href="{% url 'accountapp:create'%}"><span>회원가입</span></a>
        {% else %}
        <a href="{% url 'accountapp:logout'%}?next={{request.path}}"><span>로그아웃</span></a>
        <a href="{% url 'accountapp:detail' user.id %}"><span>내 정보</span></a>
        {% endif %}
    </div>
</div>