a.active{
    border: 2px solid #81F7F3;
    font-weight: 2px;
    border-radius: 1.5rem;
    cursor: default;
    pointer-events: none;
    color: #81F7F3;
}
.clickable-btn:hover{
    border: 1px solid #81F7F3;
    border-radius: 10rem;
    color: #81F7F3;
}