{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'articleapp/create.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'articleapp/create_update_common.css'%}">
<script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css"
    media="screen" charset="utf-8">

<div class="create_container_background">
    <div class="create_container">
        <form class="form_area" action="{% url 'articleapp:create'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="main_area">
                <div class="image_area">
                    <div class="upload_img_box change_box">
                        <img id="my_img">
                        <span class="material-icons delete_image">
                            delete
                        </span>
                    </div>
                    <label class="input_image_btn change_box" for="input_img">
                        <div class="upload_contour">
                            <div>
                                <span class="material-icons" style="font-size: 2.5rem;">
                                    arrow_circle_up
                                </span>
                                <p>클릭하여 업로드</p>
                            </div>
                        </div>
                    </label>
                    {{form.image}}
                </div>
                <div class="content_area">
                    <div class="project_area">
                        {{form.project}}
                    </div>
                    <div style="padding-right: 3rem;">
                        {{form.title}}
                    </div>
                    <div style="float: left; margin: 0 0 0 1rem;">
                        {% if user.profile %}
                        <img src="{{user.profile.image.url}}" alt=""
                            style="height: 2.5rem; width: 2.5rem; border-radius: 20rem; object-fit: cover;">
                        <span class="writer">
                            {{user.profile.nickname}}
                        </span>
                        {%else%}
                        <span class="material-icons" style="font-size: 2.5rem;">
                            account_circle
                        </span>
                        {%endif%}
                    </div>
                    <div style="padding-right: 3rem;">
                        {{form.content}}
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-outline-dark rounded-pill col-3 mt-3 mb-3" value="작성">
        </form>
    </div>
</div>
<script>var editor = new MediumEditor('.editable');</script>
<script src="{% static 'js/articleapp/image_thumbnail.js'%}"></script>
{% endblock %}