{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'articleapp/comment.css'%}">
<div class="article_container">
    <div class="article_image_container">
        <img class="article_image" src="{{target_article.image.url}}" alt="">
    </div>
    <div class="article_content_container">
        <div class="article_content">
            <div style="margin: 1rem; height: 10%;">
                <div class="dropdown">
                    <span class="material-icons more_horiz">
                        more_horiz
                    </span>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'articleapp:download' target_article.pk %}">이미지 다운로드</a>
                        </li>
                        {% if target_article.writer == user %}
                        <li>
                            <a href="{% url 'articleapp:update' target_article.pk %}">
                                글 수정
                            </a>
                        </li>
                        <li>
                            <p class="delete_modal_btn">글 삭제</p>
                        </li>
                        {%endif%}
                    </ul>

                </div>
                <a class="btn btn-primary rounded-pill col-2" href="{% url 'articleapp:download' target_article.pk %}"
                    style="float: right;">저장</a>
                {% include 'snippets/like.html' with article=target_article %}

            </div>
            <div style="margin-left: 2rem;">
                <h4 class="article_title" style="margin-bottom: 0.8rem;">
                    {{target_article.title}}
                </h4>
                <div class="content" style="text-align:left; margin-bottom: 0.8rem;">
                    {{target_article.content | safe }}
                </div>
                <div style="margin-bottom: 2rem; position: relative;">
                    {% if target_article.writer.profile %}
                    <img src="{{target_article.writer.profile.image.url}}" alt=""
                        style="height: 2.5rem; width: 2.5rem; border-radius: 20rem; object-fit: cover;">
                    <span class="writer" style="margin-bottom: 0.8rem;">
                        {{target_article.writer.profile.nickname}}
                    </span>
                    {%else%}
                    <i class="fas fa-user-circle" style="font-size: 2rem;"></i>
                    <span class="writer"
                        style="margin-bottom: 0.8rem; position: absolute; top: 0.2rem; margin-bottom: 0.8rem; left: 2.5rem;">
                        {{target_article.writer.username}}
                    </span>
                    {%endif%}
                </div>
            </div>
            <div style="margin: 0 0 2rem 2rem; width: 100%;">
                <h3 style="float: left;">댓글</h3>
                <button class="btn material-icons comment_btn">
                    keyboard_arrow_right
                </button>
                <button class="btn material-icons comment_btn" style="display: none;">
                    keyboard_arrow_down
                </button>
            </div>
            <div class="comments">
                {% for comment in target_article.comment.all %}
                {% include 'commentapp/detail.html' with comment=comment %}
                {%endfor%}

                {% include 'commentapp/create.html' with article=target_article %}

            </div>
        </div>
    </div>
</div>
{% include 'snippets/delete_modal.html' with target_article=target_article %}
<script src="{% static 'js/articleapp/comment.js'%}"></script>
{% endblock %}