{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'articleapp/list.css'%}">
{% if article_list %}
<div class="container">
    {%for article in article_list %}
    <a href="{% url 'articleapp:detail' article.pk %}">
        {% include 'snippets/card.html' with article=article %}
    </a>
    {%endfor%}
</div>
<script src="{% static 'js/magic_grid.js'%}"></script>
{%else%}
<div class="text-center">
    <h1>등록된 게시글이 없습니다.</h1>
</div>
{%endif%}
{% include 'snippets/pagination.html' with page_obj=page_obj %}
{% include 'snippets/login_modal_btn.html'%}
{% endblock %}